services:
  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      internal_net:
        ipv4_address: 172.21.0.2

  firewall:
    build:
      context: ./firewall
      dockerfile: Dockerfile
    container_name: firewall
    networks:
      external_net:
        ipv4_address: 172.20.0.2
      internal_net:
        ipv4_address: 172.21.0.5
    cap_add:
      - NET_ADMIN
      - NET_RAW
    ports:
      - "5002:5002"
    sysctls:
      - net.ipv4.ip_forward=1
    environment:
      - SNIFFER_INTERFACE=eth0 
      - FEATURE_EXTRACTOR_URL=http://172.21.0.3:5000
    volumes:
      - shared-pcap-data:/shared/pcap
      - ./traffic-sniffer/sniffer:/app/sniffer
      - ./utils:/app/utils
      - ./firewall/logs:/app/logs
    depends_on:
      - feature-extractor
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  feature-extractor:
    build:
      context: ./feature-extractor
      dockerfile: Dockerfile
    container_name: feature_extractor
    networks:
      internal_net:
        ipv4_address: 172.21.0.3

    environment:
      - REDIS_HOST=172.21.0.2
      - REDIS_PORT=6379
      - FLOW_TIMEOUT=120
      - ACTIVITY_TIMEOUT=5

    depends_on:
      - redis
    
    volumes:
      - shared-pcap-data:/shared/pcap
      - ./feature-extractor/output:/app/output
      - ./feature-extractor/config.json:/app/config.json
      - ./feature-extractor/logs:/app/logs
      - ./utils:/app/utils
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "5m"
        max-file: "2"
  
  ids:
    build:
      context: ./ids
      dockerfile: Dockerfile
    container_name: ids
    networks:
      internal_net:
        ipv4_address: 172.21.0.4

    

    environment:
      - REDIS_HOST=172.21.0.2
      - REDIS_PORT=6379
      - POLLING_INTERVAL=10

    depends_on:
      - redis
      - feature-extractor

    volumes:
      - ../notebook/models/v2/ids_model.joblib:/app/model/model.joblib
      - ./ids/logs:/app/logs
      - ./utils:/app/utils

    restart: unless-stopped

    logging:
      driver: "json-file"
      options:
        max-size: "5m"
        max-file: "2"

  dvwa:
    image: vulnerables/web-dvwa
    container_name: dvwa
    networks:
      internal_net:
        ipv4_address: 172.21.0.10
    restart: unless-stopped


  metasploit:
    image: metasploitframework/metasploit-framework
    container_name: attacker
    networks:
      external_net:
        ipv4_address: 172.20.0.10
    stdin_open: true
    tty: true
    cap_add:
      - NET_ADMIN
    command: >
      bash -c "
      ip route add 172.21.0.0/24 via 172.20.0.2 &&
      /bin/bash
      "
    volumes:
      - ./metasploit:/root/.msf4
    restart: unless-stopped

volumes:
  shared-pcap-data:
  redis_data:


networks:
  external_net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/24
          gateway: 172.20.0.1
    driver_opts:
      com.docker.network.bridge.name: br-external


  internal_net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.21.0.0/24
          gateway: 172.21.0.1
    driver_opts:
      com.docker.network.bridge.name: br-internal
          