services:
  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data


  traffic-sniffer:
    build:
      context: ./traffic-sniffer
      dockerfile: Dockerfile
    container_name: traffic_sniffer
    
    network_mode: "host"
    cap_add:
      - NET_ADMIN
      - NET_RAW
    
    environment:
      - SNIFFER_INTERFACE=docker0
      - SNIFFER_COUNT=0
    
    volumes:
      - ./traffic-sniffer/logs:/app/logs
      - shared-pcap-data:/shared/pcap
      - ./utils:/app/utils
    
    restart: unless-stopped
    
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  feature-extractor:
    build:
      context: ./feature-extractor
      dockerfile: Dockerfile
    container_name: feature_extractor
    
    network_mode: "host"
    cap_add:
      - NET_ADMIN
      - NET_RAW
    
    environment:
      - REDIS_HOST=localhost
      - REDIS_PORT=6379
      - FLOW_TIMEOUT=120
      - ACTIVITY_TIMEOUT=5
      - INTERFACE=docker0
      # - PCAP_INPUT=/app/input/capture.pcap

    depends_on:
      - redis
    
    volumes:
      - shared-pcap-data:/shared/pcap
      - ./feature-extractor/output:/app/output
      - ./feature-extractor/config.json:/app/config.json
      - ./feature-extractor/logs:/app/logs
      - ./utils:/app/utils
    
    restart: unless-stopped
    
    logging:
      driver: "json-file"
      options:
        max-size: "5m"
        max-file: "2"
  
  ids:
    build:
      context: ./ids
      dockerfile: Dockerfile
    container_name: ids

    network_mode: "host"

    environment:
      - REDIS_HOST=localhost
      - REDIS_PORT=6379
      - POLLING_INTERVAL=10

    depends_on:
      - redis
      - feature-extractor

    volumes:
      - ../notebook/models/v2/ids_model.joblib:/app/model/model.joblib
      - ./ids/logs:/app/logs
      - ./utils:/app/utils

    restart: unless-stopped

    logging:
      driver: "json-file"
      options:
        max-size: "5m"
        max-file: "2"

        
volumes:
  shared-pcap-data:
  redis_data:
